 /*  
Author: Student Hunter Cabreira
File Name: styles.css
Date: 09/25/2026
*/

/*
CSS Reset
*/
body, header, nav, main, footer, img, h1, h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rules for body and images*/
body {
    background-color: #f6eee4;
}

img {
    max-width: 100%;
    display: block;
}