/*
Author: Hunter Cabreira
Date: 09/21/2026
File Name: styles.css
*/

/*CSS Reset*/
body, header, nav, main, footer, img, h1, h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rule for body image*/
body {
    background-color: #e3eaf8;
}

img {
    max-width: 100%;
    display: block;
}