/*  
Author: Hunter Cabreira 
File Name: styles.css
Date: 09/25/2026
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1 {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rule for images */
img {
	max-width: 100%;
	display: block;
}

/* Style rules for header content */
header {
	text-align: center;
	font-size: 3em;
	color: #373684;
}

header h1 {
	font-style: italic;
}


